.notebox {
    margin: 25px;
    background-color: cornsilk;
    border: 0.5px solid gray;
    height: 50vh;
    border-radius: 10px;
}

.noteheading {
    border-bottom: 1px solid gray;
text-align: center;
}