{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="col-sm-12">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
    <br>
    <p>
      <strong>-- OR --</strong>
    </p>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
  </div>
</div>
{% endblock %}