{% extends "layout.html" %} {% block extrahead %} {% load static %}
<script src="{% static "js/app.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/notesweb-global.css" %}">
<style>
    .notebox {
        margin: 25px;
        background-color: cornsilk;
        border: 0.5px solid gray;
        height: 25vh;
        border-radius: 10px;
    }

    .full-width {
        width: 100%;
    }

    .submit-btn{
        margin-top: 15px;
    }

    .noteheading {
        border-bottom: 1px solid gray;
        text-align: center;
    }

    .heading-input {
        background: transparent;
        border: none;
        text-align: center;
    }

    .body-input {
        margin-top: 15px;
        width: 100%;
        background: transparent;
    }

    .edit-delete {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
</style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Welcome {{ request.user.username }}</span>
    <span class=""><a href="/user/logout">Logout</a></span>
</nav>

<div class="row" ng-app="notesapp">
    <div class="col-sm-12" ng-controller="homeCtrl">
        <div class="row">
            <div class="col-sm-3 notebox" ng-repeat="note in notes">
                <div class="row noteheading">
                    <div class="col-sm-6 edit-delete" data-toggle="modal" data-target="#myModal" ng-click="showEditPopup(note)"><a>Edit</a></div>
                    <div class="col-sm-6 edit-delete" ng-click="delete(note)">Delete</a></div>
                </div>
                <div class="row noteheading">
                    <div class="col-sm-12">{% verbatim %} {{note.name}} {% endverbatim %}</div>
                </div>
                <div class="row notebody">
                    <div class="col-sm-12">{% verbatim %} {{note.content}} {% endverbatim %}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 notebox">
                <div class="row noteheading">
                    <div class="col-sm-12"><input class="heading-input" type="text" ng-model="notesData.name"></div>
                </div>
                <div class="row notebody">
                    <div class="col-sm-12"><textarea class="body-input" rows='3' ng-model="notesData.content"></textarea></div>
                </div>
                <button class="btn btn-sm btn-primary submit-btn" ng-click="postNote('new')">Submit</button>
            </div>
        </div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% verbatim %} {{notesData.name}} {% endverbatim %}</h4>
      </div>
      <div class="modal-body">
        <textarea class="full-width" ng-model="notesData.content"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="postNote('update')">Update</button>
      </div>
    </div>

  </div>
</div>



    </div>
</div>
{% endblock %}