<html>
  <head>
    <title>AV Notes</title>
    {% load static %}
    <script src="{% static "js/angular.min.js" %}"/></script>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"/></script>
    <script src="{% static "js/bootstrap.min.js" %}"/></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.min.css" %}">
    {% block extrahead %}{% endblock %}
  </head>
  <body class="container-fluid">
    {% block content %}{% endblock %}
  </body>
</html>